<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= form_for(@micropost) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-xs-8">
      <ul class="nav nav-tabs nav-justified">
        <li>
          <%= link_to root_path do %>Timelines <span class="badge"></span>
          <%= render 'microposts/microposts', microposts: @microposts, user: @user %>
          <% end %>
        </li>
      <!--</div>-->
      <!--<div class="col-xs-8">-->
        <li>
          <%= link_to favoriteposts_user_path(@user) do %>Favorites <span class="badge"><%= @count_favorites %></span>
          <%= render 'microposts/microposts', microposts: @favoriteposts, user: @user %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>